    $black: #222222;
    $light-pink: #f1e4e6;
    $pink: #F16D7F;
    $white: #ffff;
    $grey: #5D5D5D;
    $light-grey: #B1B1B1;

    $font-lato: 'lato';

    @font-face {
        font-family: Lato;
        src: url(../fonts/Lato-Light.ttf);
    }

    $desktop-width: 1599px;
    $tablet-width: 767px;
    $mobile-width: 375px;
