
.sales {
    @include flex-center;
    flex-direction: column;
}

.sales__list {
    margin: 65px;
    width: 1140px;
}

.sales__group {
    display: flex;
    justify-content: space-between;
}

.sales__item-women {
    background-image: url(../img/section_woman.jpg);
    background-image: no-repeat;
    width: 360px;
    height: 260px;
    @include flex-center;
    flex-direction: column;
}

.sales__item-men {
    background-image: url(../img/section_man.jpg);
    background-image: no-repeat;
    width: 360px;
    height: 260px;
    @include flex-center;
    flex-direction: column;
}

.sales__item-kids {
    background-image: url(../img/section_kids.jpg);
    background-image: no-repeat;
    width: 360px;
    height: 260px;
    @include flex-center;
    flex-direction: column;
}

.sales__item-accesories {
    background-image: url(../img/section_accessories.jpg);
    background-image: no-repeat;
    width: 1140px;
    height: 180px;
    margin-top: 30px;
    @include flex-center;
    flex-direction: column;
}

.sales__text {
    font-family: $font-lato;
    @include font(16px, 19px);
    color: $white;
}

.sales__item-title {
    font-family: $font-lato;
    @include font(24px, 29px, 700);
    color: $pink;
    text-transform: uppercase;
}